---
title: <i class="fa fa-home fa-lg"></i>
layout: page_title
titlename: 首页
---

<div class="aside3-slogan">
  <h3>
    <span>未</span>
    <span>知</span>
    <span>的</span>
    <span>可</span>
    <span>能</span>
    <span>性</span>
    <span>,</span>
    <span>追</span>
    <span>随</span>
    <span>我</span>
    <span>心</span>
  </h3>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">{{ site.locals.newest }}</div>
      {% for post in paginator.posts %}
        <a  href='{{ post.url }}' class="list-group-item pjaxlink clearfix">
          {{post.title}}
          <span class="badge">{{ post.date | date:"%Y 年 %m 月 %d 日" }}</span>
        </a>
      {% endfor %}
    </div>
  </div>
  {% for cate in site.cates %}
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">{{ cate }}</div>
        {% for tag in site.tags %} 
          {% if tag[0] == cate %}
            {% for post in tag[1] %}
              <a  href='{{ post.url }}' class="list-group-item pjaxlink clearfix">
                {{post.title}}
                <span class="badge">{{ post.date | date:"%Y 年 %m 月 %d 日" }}</span>
              </a>
            {% endfor %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>
 
