---
title: <i class="fa fa-home fa-lg"></i>
layout: page_title
titlename: 首页
---

<div class="aside3-slogan">
  <h3>
    <span style="color: rgb(55, 221, 111);">未</span>
    <span style="color: rgb(99, 221, 141);">知</span>
    <span style="color: rgb(0, 187, 63);">的</span>
    <span style="color: rgb(35, 140, 71);">可</span>
    <span style="color: rgb(0, 121, 41);">能</span>
    <span style="color: rgb(66, 130, 211);">性</span>
    <span style="color: rgb(105, 151, 211);">,</span>
    <span style="color: rgb(255, 182, 64);">追</span>
    <span style="color: rgb(255, 201, 115);">随</span>
    <span style="color: rgb(255, 93, 64);">我</span>
    <span style="color: rgb(255, 137, 115);">心</span>
  </h3>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">{{ site.locals.newest }}</div>
      {% for post in paginator.posts %}
        <a  href='{{ post.url }}' class="list-group-item pjaxlink clearfix">
          {{post.title}}
          <span class="badge">{{ post.date | date:"%Y 年 %m 月 %d 日" }}</span>
        </a>
      {% endfor %}
    </div>
  </div>
  {% for cate in site.cates %}
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">{{ cate }}</div>
        {% for tag in site.tags %} 
          {% if tag[0] == cate %}
            {% for post in tag[1] limit:10 %}
              <a  href='{{ post.url }}' class="list-group-item pjaxlink clearfix">
                {{post.title}}
                <span class="badge">{{ post.date | date:"%Y 年 %m 月 %d 日" }}</span>
              </a>
            {% endfor %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>
 
