<!-- <div id="disqus_thread">
	<button type="button" name="{{ site.disqus.shortname }}" class="btn btn-default show-commend"> <i class="fa fa-comment-o fa-lg" style="color: #000;"></i>
	</button>
</div>
 -->
<div style="text-align: center;">
  <span id="busuanzi_container_page_pv">本文总阅读量<span id="busuanzi_value_page_pv"></span>次</span>
</div>

<!-- AddToAny BEGIN -->
<h3>期待您的分享与讨论：</h3>
<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
<a class="a2a_button_wechat"></a>
<a class="a2a_button_sina_weibo"></a>
<a class="a2a_button_twitter"></a>
<a class="a2a_button_facebook"></a>
<a class="a2a_button_email"></a>
<a class="a2a_button_linkedin"></a>
<a class="a2a_button_diigo"></a>
<a class="a2a_button_douban"></a>
<a class="a2a_button_evernote"></a>
<a class="a2a_button_google_bookmarks"></a>
<a class="a2a_button_trello"></a>
<a class="a2a_button_skype"></a>
<a class="a2a_button_sms"></a>
<a class="a2a_button_pocket"></a>
<a class="a2a_button_pinboard"></a>
<a class="a2a_button_line"></a>
<a class="a2a_button_kindle_it"></a>
<a class="a2a_button_instapaper"></a>
<a class="a2a_button_flipboard"></a>
<a class="a2a_button_facebook_messenger"></a>
<a class="a2a_button_copy_link"></a>
<a class="a2a_button_wordpress"></a>
<a class="a2a_button_reddit"></a>
<a class="a2a_button_pinterest"></a>
</div>
<script async src="https://static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END -->

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'gotoshare';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

<!-- Duoshuo Comment BEGIN  -->
<!-- <div class="ds-thread"></div>
<script type="text/javascript">
var duoshuoQuery = {short_name:"goshare"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = 'http://static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0]
		|| document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
</script> -->
<!-- Duoshuo Comment END

<!-- UY BEGIN -->
<!-- <div id="uyan_frame"></div>
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1992409"></script> -->
<!-- UY END -->
